*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: red;
}
h1{
    display: flex;
    text-transform: uppercase;
    font-size: 4rem;
    color: white;
    justify-content: center;
    align-items: center;
}